:root {
    --colorOne: #231F20;
    --colorTwo: #FFEBC6;
    --colorThree: #388697;
    --colorfour: #F7D33B;


}

.bgColorOne {
    background-color: var(--colorOne);
}

.bgColorTwo {
    background-color: var(--colorTwo);
}

.bgColorThree {
    background-color: var(--colorThree);
}

.bgColorFour {
    background-color: var(--colorfour);
}

.ColorOne {
    color: var(--colorOne);
}

.ColorTwo {
    color: var(--colorTwo);
}

.ColorThree {
    color: var(--colorThree);
}

h1 {
    color: var(--colorThree) !important;
}

/* Aggiungi articolo */
.form-control {
    border: none !important;
    border-bottom: 1px solid var(--colorThree) !important;
    background-color: var(--colorOne) !important;

    color: var(--colorThree) !important;
}

/* input, select, textarea{
   
    
} */

select {
    color: var(--colorThree) !important;

}

label {
    color: var(--colorTwo) !important;
}

/* label, .catName{
    
} */

.fa-chevron-down {
    right: 5px;
    bottom: 10px;
    color: var(--colorThree);
}


/* INIZIO SWIPER */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FINE SWIPER */

.scrolled {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    transition: 0.5s linear;
}

.navbar {
    transition: 0.5s linear;

}

.btn-outline {
    border: 1px solid var(--colorThree);
    color: var(--colorThree);
}

.btn-outline:hover {
    border: 1px solid var(--colorTwo) !important;
    color: var(--colorTwo) !important;
}

.borderimg{
    border: 5px solid var(--colorfour)!important;    
}

.shadowimg{
    box-shadow:2px 2px 20px var(--colorTwo);
}

.anchorCard:hover{
    text-decoration: underline var(--colorTwo) !important;
    
}

.bgHomeImage{
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
}

.vh-50{
    height: 80vh;
}

.shadowcard{
    box-shadow:2px 2px 8px var(--colorOne);   
}